* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f4f7f6;
}

#login-frame {
    position: absolute;
    z-index: 60;
    width: 100%;
    background: rgba(0, 0, 0, .7);
}

@keyframes move {
    0% { transform:translate(0px, -150px); }
    100% { transform:translate(0px, 0px); }
}

#login {
    width: 400px;
    background: white;
    margin: 200px auto;
    padding: 20px 12px;
    border-radius: 4px;
    border: 1px solid #e4e1e1;
    position: relative;
    animation: move .3s;
}

#cross {
    position: absolute;
    font-size: 32px;
    color: #d21b1b;
    right: 6px;
    top: 0px;
}

#cross > i {
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 12px;
}

#cross > i:hover {
    background: #f9bdbd;
}

.input-frame {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

@keyframes shake {
    0% { transform:translate(25px, 0px); }
    20% { transform:translate(-20px, 0px); }
    40% { transform:translate(15px, 0px); }
    60% { transform:translate(-10px, 0px); }
    80% { transform:translate(5px, 0px); }
    100% { transform:translate(0px, 0px); }
}

#login-message {
    border: 1px solid #bf0000;
    width: 80%;
    margin: 20px auto;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    background: #f9dbe0;
    color: #bf0000;
    animation: shake .2s;
}

.input-frame input {
    width: 100%;
    height: 40px;
    border: 1px solid #dad8d8;
    border-radius: 4px;
    outline: none;
    transition: all .3s;
    padding: 4px 8px;
    font-size: 16px;
    color: #464646;
}

.input-frame input:focus {
    box-shadow: 0px 0px 6px #2196f3;
}

.password-input {
    padding-right: 32px !important;
}

.password-eye {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

#button-frame {
    width: 80%;
    margin: 20px auto;
}

#button-frame button {
    width: 100%;
    height: 40px;
    background: #36ccb4;
    border: 0px solid #a29c9c;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s;
}

#button-frame button:hover {
    background: #2dad98;
}

#register-ancor {
    width: 80%;
    margin: 0px auto;
}

#register-ancor > a {
    text-decoration: none;
    color: #3a60f3;
}

#register-ancor > a:hover {
    text-decoration: underline;
}