@import "./_/core";

[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  height: 100%;
}

body {
  background-color: var(--background-color);
}

.count-alert:after {
  content: attr(count);
  position: absolute;
  top: -6px;
  right: -10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 8px;
  background: red;
  font-size: 10px;
  text-align: center;
  color: white;
}

// header
header {

  #navbar {
    width: 100%;
    height: var(--header-height-1);
    background-color: var(--header-background-color);
    position: fixed;
    z-index: 80;

    > div {
      display: flex;
      flex-wrap: wrap;
      max-width: 1400px;
      margin: 0 auto;
      height: var(--header-height-1);

      > div {
        flex-basis: 50%;
      }

      #navMenu {
        display: flex;

        > div {
          position: relative;
          flex: 1;

          > a {
            @extend %-center-all;
            color: white;
            white-space: nowrap;

            &::after {
              @extend %-center-x;
              content: '';
              width: 100%;
              height: 2px;
              top: 30px;
              background-color: white;
              opacity: 0;
              transition: top .3s, opacity .3s;
            }

            &:hover::after {
              top: 26px;
              opacity: 1;
            }
          }
        }
      }

      #navSearch {
        position: relative;
        display: flex;

        > #hamburger {
          display: none;
          position: relative;
          width: 50px;

          > div {
            @extend %-center-all;
            width: 32px;
            height: 32px;

            > span {
              @extend %-center-y;
              width: 100%;
              height: 3px;
              border-radius: 4px;
              background-color: white;

              &:before {
                content: '';
                position: absolute;
                top: -10px;
                width: 100%;
                height: 3px;
                border-radius: 4px;
                background-color: white;
              }

              &:after {
                content: '';
                position: absolute;
                top: 10px;
                width: 100%;
                height: 3px;
                border-radius: 4px;
                background-color: white;
              }
            }
          }
        }

        > form {
          flex: 1;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: flex-end;
          padding-right: 20px; 

          > input {
            @extend %-center-y;
            width: 90%;
            height: 40px;
            border-radius: 2px;
            border: 0px;
            padding: 0 10px;
            font-size: 16px;
            letter-spacing: 1px;
            outline: none;
          }

          > button {
            position: absolute;
            width: 60px;
            height: 30px;
            @extend %-center-y;
            right: 26px;
            background-color: var(--header-background-color);
            border: 0px;
            border-radius: 2px;
            color: white;
            cursor: pointer;
            transition: all .3s;

            &:hover {
              background-color: #009e8c;
            }
          }
        }
      }
    }
  }

  #sidebar {
    position: absolute;
    top: 0px;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #292929;
    transition: all .3s;
    padding: 60px 12px;
    z-index: 81;
    display: flex;
    flex-direction: column;
    transition: left .3s ease-in-out;

    &.active {
      left: 0%;
    }

    .cross {
      width: 60px;
      height: 60px;
      line-height: 60px;
      position: absolute;
      top: 0px;
      right: 0px;
      color: white;
      font-size: 36px;
      text-align: center;
    }

    > div:not(.cross) {
      position: relative;
      height: 50px;
      padding-left: 12px;

      > a {
        @extend %-center-y;
        color: white;
      }
    }
  }
}

// container
#container {
  padding-top: var(--header-height-1);
}

// RWD
@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  header {
    #navbar {
      height: var(--header-height-2);

      > div {
        height: var(--header-height-2);

        > div {
          flex-basis: 100%;
          height: 50px;
        }
      }
    }
  }

  #container {
    padding-top: var(--header-height-2);
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
  header {
    #navbar {
      height: var(--header-height-1);

      > div {
        height: var(--header-height-1);

        #navMenu {
          display: none;
        }

        #navSearch {
          height: var(--header-height-1);

          > #hamburger {
            display: block;
          }

          form {
            float: right;
            padding-right: 8px;

            > input {
              width: calc(95%);
            }

            > button {
              right: 16px;
            }
          }
        }
      }
    }
  }

  #container {
    padding-top: var(--header-height-1);
  }
}
