#body {
    margin: 40px auto;
}

#product-frame {
    width: 20%;
    height: 350px;
    display: inline-block;
    background: white;
    padding: 8px 16px;
    cursor: pointer;
}

#product-title {
    margin: 0px auto;
}

#product-picture {
    border-radius: 4px;
    margin-top: 8px;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

#product-picture > img {
    width: 100%;
    height: 100%;
}


/*RWD*/
@media (min-width: 1400px) {
    #body {
        width: 1400px;
    }
} 