@import "../_/core";

#productDetail {
  border-radius: 4px;
  background: white;
  max-width: 1400px;
  margin: 40px auto;
  padding: 20px;
  display: flex;

  > div:nth-child(1) {
    flex: 5;
    padding-right: 10px;
    max-height: 400px;
    overflow: hidden;

    > img {
      width: 100%;
    }
  }

  > div:nth-child(2) {
    flex: 7;
    padding-left: 10px;

    > * {
      margin-bottom: 12px;
    }

    #title {
      font-size: 24px;
    }

    #desc {
      font-size: 14px;
      color: #0d195c;
    }

    #price {
      background: #f4f7f6;
      padding: 12px 20px;
      font-size: 24px;
      color: #f50e5c;
    }

    #purchase {
      margin-top: 72px;

      > form {
        > #countBarFrame {
          height: 30px;
          line-height: 30px;
          display: flex;
          margin-bottom: 16px;

          > span:nth-child(1) {
          }

          > #countBar {
            position: relative;
            top: -2px;

            input, button {
              height: 24px;
              background: white;
              border: 1px solid #cacaca;
              text-align: center;
              padding: 0px;
            }

            button {
              width: 24px;
              cursor: pointer;
            }

            input {
              width: 40px;
              -moz-appearance: textfield;
              outline: none;
            }
          }

          > span:nth-child(3) {
            font-size: 14px;
            color: gray;
            margin-left: 12px;
          }
        }

        > button {
          display: block;
          width: 200px;
          height: 45px;
          font-size: 20px;
          cursor: pointer;
          transition: all .3s;
          border-radius: 4px;
          border: 1px solid #f50e5c;
          background: #fbd4e1;

          &:hover {
            background: #f50e5c;
            color: white;
          }
        }
      }
    }
  }
}