@import "../_/core";

#productIndex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0px;
  
  > .product-unit {
    padding: 6px 6px;
    text-decoration: none;
    flex-basis: 20%;

    > div {
      height: 400px;
      padding: 4px 16px;
      position: relative;
      background-color: white;
      transition: all .3s ease-in-out;
      cursor: pointer;
      box-shadow: 0px 0px 0px gray;
      right: 0px;
      bottom: 0px;

      &:hover {
        box-shadow: 6px 6px 8px gray;
        right: 4px;
        bottom: 4px;
      }

      > .product-title {
        color: var(--product-title-color);
      }

      > img {
        width: 100%;
        border-radius: 4px;
        height: 208px;
      }

      > .product-desc {
        position: absolute;
        width: calc(100% - 32px);
        height: 56px;
        bottom: 48px;
        font-size: 13px;
        color: gray;
        letter-spacing: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      > .product-price {
        position: absolute;
        width: calc(100% - 32px);
        bottom: 0px;
        font-size: 14px;
        color: var(--product-price-color);
      }
    }
  }

  #noProducts {
    width: 576px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    background: white;
    border-radius: 4px;
    border: 1px solid #ded9d9;
  }
}

@media (max-width: 1400px) {
  #productIndex {
    padding: 60px 40px;
  }
}

@media (max-width: 1200px) {
  #productIndex > .product-unit {
    flex-basis: 25%;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 840px) {
  #productIndex > .product-unit {
    flex-basis: 33.33%;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 680px) {
  #productIndex > .product-unit {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  #productIndex {
    padding: 24px 12px;
  }
}

@media (max-width: 400px) {
  #productIndex > .product-unit {
    flex-basis: 100%;
  }
}
