#user {
    padding-top: 60px;
    padding-bottom: 330px;
    position: relative;
    overflow: auto;
    margin-bottom: 100px;
}

#user > div {
    float: left;
}

#user-menu {
    padding: 24px 48px 24px 0;
    width: 20%;
    color: #3f3f3f;
}

.user-menu-title {
    cursor: pointer;
    margin: 0 0 8px 0;
}

.user-menu-title > i {
    font-size: 20px;
    color: black;
}

.user-menu-title:hover span {
    color: tomato;
}

.user-menu-content {
    margin: 0px;
    padding-left: 28px;
}

.user-menu-content > span {
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

.user-menu-content > span:hover {
    color: tomato;
}

#user-info {
    width: 80%;
    height: 500px;
    color: #3f3f3f;
}

#user-info > div {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    padding: 20px;
}

#user-info-title {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
}

#user-info-title > span {
    font-size: 20px;
}

#user-info-content {
    overflow: auto;
}

#user-info-content > div {
    padding: 8px 16px;
    float: left;
}

#user-info-content > div:nth-child(1) {
    width: 70%;
}

#user-info-content > div:nth-child(2) {
    width: 30%;
}

#head-photo {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1px solid gray;
}

/*RWD*/

@media (min-width: 0px) and (max-width: 576px) {
    #body {
        width: 95%;
    }
}

@media (min-width: 0px) {
    #user {
        padding-top: 40px;
    }
}

@media (min-width: 576px) {
    #user {
        padding-top: 100px;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    #user {
        padding-top: 60px;
    }
}

@media (min-width: 1400px) {
    
}