:root {
  --background-color: #f4f7f6;
  --header-background-color: #24A09A;
  --header-height-1: 60px;
  --header-height-2: 110px;
  --product-title-color: #1127a2;
  --product-price-color: #f50e5c;
}

#productIndex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0px;
}
#productIndex > .product-unit {
  padding: 6px 6px;
  text-decoration: none;
  flex-basis: 20%;
}
#productIndex > .product-unit > div {
  height: 400px;
  padding: 16px;
  position: relative;
  background-color: white;
}
#productIndex > .product-unit > div > .product-title {
  text-align: center;
  color: var(--product-title-color);
}
#productIndex > .product-unit > div > img {
  width: 100%;
  border-radius: 4px;
  height: 208px;
}
#productIndex > .product-unit > div > .product-desc {
  position: absolute;
  width: calc(100% - 32px);
  height: 56px;
  bottom: 48px;
  font-size: 13px;
  color: gray;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#productIndex > .product-unit > div > .product-price {
  position: absolute;
  width: calc(100% - 32px);
  bottom: 0px;
  font-size: 14px;
  color: var(--product-price-color);
}
#productIndex #noProducts {
  width: 576px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  background: white;
  border-radius: 4px;
  border: 1px solid #ded9d9;
}

@media (max-width: 1400px) {
  #productIndex {
    padding: 60px 40px;
  }
}
@media (max-width: 1200px) {
  #productIndex > .product-unit {
    flex-basis: 25%;
  }
}
@media (max-width: 840px) {
  #productIndex > .product-unit {
    flex-basis: 33.33%;
  }
}
@media (max-width: 680px) {
  #productIndex > .product-unit {
    flex-basis: 50%;
  }
}
@media (max-width: 576px) {
  #productIndex {
    padding: 24px 12px;
  }
}
@media (max-width: 400px) {
  #productIndex > .product-unit {
    flex-basis: 100%;
  }
}
